.sectionHeader
  @extend $text-shadow
  text-align center
  margin-bottom 3rem
  &__caption
    margin 0 0 .75rem
    font-size 2rem
    letter-spacing -.025rem
    font-weight 700
    color #3e3e3e
    padding 0
  &__description
    font-size 1.25rem
    margin 0
    padding 0
    color #888
