.thumbnail
  @extend $item-shadow
  padding 2rem
  margin-bottom 1.5rem
  color 
  &__caption
    font-weight 700
    font-size 1.5rem
    letter-spacing -.015rem
    color #3e3e3e
    margin 0 0 .75rem
  &__description
    font-weight 300
    color #888
  &__link
    text-decoration none
    transition color .2s
    &:hover
      color #43bff0
  &__icon
    color #ea8a95
    display block
    margin 0 0 1.5rem
    cursor default
  &__img
    // position relative
    display block
    width 100%