@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,100,300,600,700,900')

@import '../particles/placeholders.styl'
@import '../section'
@import 'blocks/index.styl'
  
*
  box-sizing border-box

body
  margin 0
  font 16px 'Source Sans Pro', sans-serif
  color #888

img
  max-width 100%

a
  color inherit


