$text-shadow
  text-shadow 1px 1px 0px #fff

$sectionwrapper
  padding 8rem 0 
  background url('assets/imges/bg.png')
  box-shadow inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1)

$item-shadow
  background #fff
  box-shadow inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1)
  text-align center

$footer-text-shadow
  text-shadow -1px -1px 0px #181818
