section.portfolio
  header.sectionHeader
    h2.sectionHeader__caption Here’s some stuff I made recently.
    p.sectionHeader__description Proin odio consequat sapien vestibulum consequat lorem dolore feugiat lorem ipsum dolore.
